body{
    background-color: black;
    color: white; 
    height: auto;
    border: 3px green solid;
    font-family: inter;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    opacity: 100%;
}

@media screen and (min-width: 320px) and (max-width:600px){
    
}