.profile__image{
    border-radius: 145px;
    margin-left: 24px;
    margin-right: 24px;
    width: 168px;
    height: auto;
}

@media screen and (min-width: 600px) and (max-width:900px){
    .profile__image{
        width: 200px;
    }
}

@media screen and (min-width: 320px) and (max-width:600px){
    
    .profile__image{
    height: 170px;
    padding-top: 7px;
    margin-left: 10px;
    margin-right: 0;
    }
}