.profile__button-edit{
    width: 21px;
    height: 24px;
    border: solid 1px #FFFFFF;
    background-color: black;
    color: white;
    position: absolute;
    top: 55px;
    right: 250px;
    
}

@media screen and (min-width: 600px) and (max-width:900px){
    .profile__button-edit{
        right: 25px;
        top: 40px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 320px) and (max-width:600px){
    .profile__button-edit{
        top: 211px;
        right: 15px;
    }
}