.profile__info-name{
    font-family: inter;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    margin-bottom: 0;
    max-width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (min-width: 600px) and (max-width:900px){
    .profile__info-name{
        max-width: 371px;
    }
}

@media screen and (min-width: 320px) and (max-width:600px){
    .profile__info-name{
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        max-width: 129px;
    }
}