.element__like-active{
    border: none;
    width: 21px;
    height: 19px;
    align-self: center;
    margin-right: 17px;
    position: absolute;
    right: -7px;
    bottom: 26px;
    visibility: hidden;
    transition: all .5s;
    z-index: -1;
}
