.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 816px;
    height: 540px;
    z-index: 3;
    position: fixed;
    transition: all 0.5s;
    margin-top: 80px;
    border: red 3px solid;
    visibility: hidden;
    }

    @media screen and (min-width: 320px) and (max-width:600px){
        .image{
            width: 240px;
            height: 300px;
            margin-top: 140px;
        }
    }