.profile__info-tag{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}

@media screen and (min-width: 320px) and (max-width:600px){
    .profile__info-tag{
        font-weight: 400;
        font-size: 15px;
        line-height: 50px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }
}